@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: #191A1E;
    --color-base-200: #121212;
    --color-base-300: #1D201F;
    --color-base-content: oklch(97.807% 0.029 256.847);
    --color-primary: #FF4A22;
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(77% 0.152 181.912);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: #408BEA;
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: #06AD0C;
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: #FFC635;
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: #CD2026;
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

.vignette {
    background-image: url("/love-is-war.jpg");
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    box-shadow: inset 0 0 70px 50px black;
}
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(70% 0.213 47.604);
    --color-primary-content: oklch(93% 0.034 272.788);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(77% 0.152 181.912);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

.carousel-horizontal-pagination {
    padding-right: calc(var(--spacing) * 20);
    margin-bottom:  calc(var(--spacing) * 20);
    display: flex;
    justify-content: flex-end;
}

.carousel-next-btn {
    width: 20px;
    height: 20px;
    background: #06AD0C;
}
.swiper-button-prev {
    color: white!important;
    opacity: 50%;
}

.swiper-button-next {
    color: white!important;
    opacity: 50%;

}